<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deployment</title>
</head>
<body>
    <h1>give some inputs</h1>
    <form action="predict" method="POST">
        <h2>Enter numeric</h2>
        <input type="text" name='exp'>
        <input type="submit" value="predict">
    </form>
    <h2>predicted score is : {{expee}}</h2>
    
</body>
</html>